{% load staticfiles %}
<!doctype html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap-flatly.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% block css %}
    {% endblock %}
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-flatly.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>

  <body>
    {% include 'header.html' %}
    <!--<div class="container">
      <div class="row">-->
	{% block body %}
	{% endblock %}
   <!--   </div>
    </div>-->
    {% block js %}{% endblock %}
  </body>
</html>
