{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}
Address Book App
{% endblock %}

{% block css %}
<style>
  .align-vertical {
    margin-top: 1%;
  }
 tr.spaceUnder>td {
  padding-bottom: 5em;
}
</style>
{% endblock %}

{% block body %}
<div class="col align-vertical">
<center>
<h3>Delete Contact</h3>
<form method="post">{% csrf_token %}
    <br>
    Are you sure you want to delete "{{ object }}" ?
    <input type="submit" value="Submit" />
</form>
</center>
</div>
{% endblock %}
