{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}
Address Book App
{% endblock %}

{% block css %}
<style>
  .align-vertical {
    margin-top: 1%;
  }
 tr.spaceUnder>td {
  padding-bottom: 5em;
}
</style>
{% endblock %}

{% block body %}
<div class="col align-vertical">
<center>
<h3>Edit Contact</h3>
    <br>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</center>
</div>
{% endblock %}
