<nav id ='app-nav' class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Address Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a class="nav-link" href="/admin"><i class="fas fa-lock"></i> Administration</a>
            </li>
            <li>
                <a class="btn btn-primary to-right" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>


