{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}
Address Book App
{% endblock %}

{% block css %}
<style>
  .align-vertical {
    margin-top: 1%;
  }
 tr.spaceUnder>td {
  padding-bottom: 5em;
}
</style>
{% endblock %}

{% block body %}
<div class="col align-vertical">
<center>
<table class="table table-hover">
<thead>
    <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Email</th>
    <th scope="col">Street Address</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for contact in object_list %}
    <tr class="table-primary">
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.phone_number }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.street_address }}</td>
        <td><a href="{% url "contact_edit" contact.id %}">edit</a></td>
        <td><a href="{% url "contact_delete" contact.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url "contact_new" %}">New</a>
</center>
</div>
{% endblock %}
