{% load staticfiles %}
<!doctype html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap-flatly.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <style>
    .align-vertical {
      margin-top: 5%;
    }
  </style>

    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-flatly.min.js' %}"></script>
  </head>

  <body>
    <nav id ='app-nav' class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" color="white">Address Book</a>
</nav>
    <div class="container">
      <div class="row">
	<div class="col-md-4 offset-md-4 align-vertical">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
           please login with an account that has access.</p>
      {% else %}

      <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action=".">
      {% csrf_token %}
      <div class="form-group">
	<label for="username">Username</label>
	<input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
	<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
      </div>
      <center><input class="btn btn-primary" type="submit" value="Login" /></center>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      $('app-nav').hide();
    });
  </script>
  </body>
</html>


